---
import "./style.css";
---

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
<body>
  <h1>Service Unavailable</h1>
  <p>Azzy Sites (except for demos etc) are postponed until May 30th 2026</p>
  <p>                </p>
  <img src="https://yumzrykslzshapqo.public.blob.vercel-storage.com/Logo/az-logo.png" width="70" alt="Azzy Logo">
</body>
</html>